consul_api_server: {{ consul_scheme|default('http') }}://{{ consul_ip|default('127.0.0.1') }}:{{ consul_comm_port|default('8500') }}
consul_service: {{ lb_service_name }}
consul_tag_prefix: haproxy
consul_token: {{ consul_master_token.stdout }}
haproxy_server: ['{{ haproxy_admin_address.split(':')[0] }}', {{ haproxy_admin_address.split(':')[1] }}]
backend_name: iri_back
pow_backend_name: iri_pow_back
template_addr: '10.20.30.40:80'
haproxy_spare_slots: 0
backend_base_name: irisrv
socket_connect_retry: 30
socket_connect_timeout: 10
valid_tags:
  - sslverify
  - maxconn
  - weight
  - scheme
  - pow
